{% extends "main.html" %}
{% import "macros.html" as macros %}


{% block hero%}
<div class="hero-body" id="hero">
	<div class="container">
		<h1 class="title">
			A Garbage Blog
		</h1>
		<h1 class="subtitle">
			Basically ramblings of stupidity. Probably.
		</h1>
	</div>
</div>
{% endblock %}

{% block content %}
{% if posts %}
{{macros.pagination(page, max_page, tagged)}}
{% endif %}
<ul class="column is-8 is-offset-2">
	{% for post in posts %}
	<article class="message">
		<div class="message-header">
			<a href=/post/{{post.id}} data-navigo>{{post.title}}</a>
			{% if post.updated_at == post.created_at %}
				Posted {{post.created_at | fromNow}}
			{% else %}
				Updated {{post.updated_at | fromNow}}
			{% endif %}
		</div>
		<div class="message-body">
			<div class="post content">
				{{post.content | safe | striptags | truncate(50)}}
			</span>
			<div class="is-pulled-right">
				{% for tag in post.tags %}
					<a class="tag" href="/?tagged={{tag.tag}}" data-navigo>#{{tag.tag}}</a>
				{% endfor %}
			</div>
		</div>
	</article>
	{% else %}
	<article class="message is-info">
		<div class="message-body">
			<p>No posts as of yet..</p>
			{% if user %}
			<a href=/posts/create data-navigo>Why not make some?</a>
			{% endif %}
		</div>
	</article>
	{% endfor %}
</ul>
{% if posts %}
{{macros.pagination(page, max_page, tagged)}}
{% endif %}
{% endblock %}
