{% extends "main.html" %}


{% block hero%}
<div class="hero-body">
	<div class="container">
		<h1 class="title">
			A Garbage Blog
		</h1>
		<h1 class="subtitle">
			Basically ramblings of stupidity. Probably.
		</h1>
	</div>
</div>
{% endblock %}

{% block content %}
<ul class="column is-8 is-offset-2">
	{% for post in posts %}
	<article class="message">
		<div class="message-header">
			<a href=/post/{{post.id}} data-navigo>{{post.title}}</a>
			{% if post.updated_at == post.created_at %}
				Posted {{post.created_at | fromNow}}
			{% else %}
				Updated {{post.updated_at | fromNow}}
			{% endif %}
		</div>
		<div class="message-body">
			<div class="post content">
				{{post.content | safe | striptags | truncate(50)}}
			</span>
		</div>
	</article>
	{% else %}
	<article class="message is-info">
		<div class="message-body">
			<p>No posts as of yet..</p>
			{% if user %}
			<a href=/posts/create data-navigo>Why not make some?</a>
			{% endif %}
		</div>
	</article>
	{% endfor %}
</ul>
<nav class="pagination">
	{% if has_prev %}
	<a class="pagination-previous" href="/?page={{page -1}}" data-navigo>Previous</a>
	{% else %}
	<a class="pagination-previous" disabled>Previous</a>
	{% endif %}
	{% if has_next %}
	<a class="pagination-next" href="/?page={{page + 1}}" data-navigo>Next Page</a>
	{% else %}
	<a class="pagination-next" disabled>Next Page</a>
	{% endif %}
	<ul class="pagination-list">
		{% if has_prev %}
		<li>
			<a class="pagination-link" href="/?page={{page -1}}" data-navigo>{{page -1}}</a>
		</li>
		{% endif %}
		<li>
			<a class="pagination-link is-current">{{page}}</a>
		</li>
		{% if has_next %}
		<li>
			<a class="pagination-link" href="/?page={{page + 1}}" data-navigo>{{page + 1}}</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endblock %}
