{% extends "main.html" %}

{% block content %}
<div class="column is-half is-offset-one-quarter">
	<div class="field">
		<label class="label">Username</label>
		<div class="control has-icons-left">
			<input class="input" type="text" placeholder="Username" id="username">
			<span class="icon is-small is-left">
				<i class="fa fa-user"></i>
			</span>
		</div>
	</div>
	<div class="field">
		<label class="label">Password</label>
		<div class="control has-icons-left">
			<input class="input" type="password" placeholder="Password" id="password">
			<span class="icon is-small is-left">
				<i class="fa fa-lock"></i>
			</span>
		</div>
	</div>
	<div class="field">
		<p class="control">
			<button class="button" id="login">
				Login
			</button>
		</p>
	</div>
</div>
{% endblock %}
