{% extends "main.html" %}

{% block hero %}
<div class="hero-body">
	<div class="container has-text-centered">
		<h1 class="title">
			{{post.title}}
		</h1>
		<h2 class="subtitle">
			{{post.created_at | realDate}}
		</h2>
	</div>
</div>
{% if user %}
	<div class="hero-foot">
		<div class="container is-pulled-right">
			<nav class="tabs is-boxed">
				<ul>
					<li>
						<a id="edit">Edit</a>
					</li>
					<li>
						<a id="open">Delete</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
{% endif %}

{% endblock %}

{% block content %}
{% if post %}
	<div class="modal" id="image-modal">
		<div class="modal-background"></div>
		<div class="modal-content">
			<p class="image" id="image-box">
			</p>
		</div>
		<button class="modal-close close-dialog is-large"></button>
	</div>
	<div class="modal" id="delete-dialog">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">Are you sure?</p>
				<button class="delete close-dialog"></button>
			</header>
			<footer class="modal-card-foot">
				<button class="button is-danger" id="delete">Delete Post</button>
				<button class="button close-dialog">Close Dialog</button>
			</footer>
		</div>
	</div>
	<div class="container content is-hidden-desktop">
		{{post.content | safe}}
	</div>
	<div class="container content column is-8 is-offset-2 is-hidden-touch">
		{{post.content | safe}}
	</div>
	{% endif %}
{% endblock %}

