{% extends "main.html" %}

{% block content %}
	{% if post %}
		<article class="message is-primary is-medium">
			<div class="message-header">
				{{post.title}} ({{post.id}})
				{% if user %}
					<div class="field is-grouped">
						<button class="button is-dark" id="edit" data-href="/post/{{post.id}}/edit">Edit</button>
						<button class="delete is-medium" id="delete"></button>
					</div>
				{% endif %}
			</div>
			<div class="message-body">
				{{post.content | safe}}
			</div>
		</article>
	{% endif %}
{% endblock %}

